<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
	<test name="firstTest">
		<classes>
			<class name="com.packt.tests.FirstTest" />
			<!-- <class name="com.packt.tests.JavaScriptAlerts" /> <class name="com.packt.tests.Troubleshooting" 
				/> -->
		</classes>
	</test>

	<test name="Regression1">
		<classes>
			<class name="com.packt.tests.Troubleshooting">
				<methods>
					<include name="WaitTest" />
					<include name="StaleElementTest" />
					<exclude name="otherTest"/>
				</methods>
			</class>
		</classes>
	</test>
</suite>
